@font-face {
  font-family:certificateFont ;
  font-weight: 900;
  src: url(../fonts/GregorianFLF.ttf);
}
@font-face {
  font-family: instituteFont;
  src: url("../fonts/NHL Ducks.ttf");
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* background: white; */
    min-height: 100vh;
}

.certificate {
  width: 1056px;
  height: 816px;
  background-image: url('../images/iicl_certificate.png');
  background-size:1056px 816px;
  background-repeat:no-repeat ;
  padding: 40px;
  position: relative;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* border-radius: 10px; */
  }
  
  /* certificate headings */
  .header {
    margin-top: 0.5rem;
    /* border: 1px solid orangered; */
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }

  .certifications{
    /* border: 1px solid red; */
    color: rgb(174, 0, 0);
    font-weight: 500;
    font-size: 0.9rem;
  }
  .student_img_box{
    /* border: 1px solid red; */
    position: relative;
    grid-area: 1/1/3/2;
  }
  .student_img{
    /* border: 1px solid orchid; */
    position: absolute;
    bottom:4.6rem;
    left:4.17rem;
    height:9rem;
    width:9rem;
  }
  .enrollment{
    left: 2.2rem;
    bottom:-1rem;
    position: absolute;
    /* border: 1px solid red; */
  }

  .institute_box{
    /* border: 1px solid orangered; */
    box-sizing: border-box;
    grid-area: 1/2/2/3;
  }
  .institute_icon{
    /* border:1px solid red; */
    height: 5.5rem;
    margin:0.2rem 0 0 0;
    /* margin-top: 1rem; */
  }

  .qr_code_box{
    /* border:1px solid red; */
    position: relative;
    grid-area: 1/3/3/4;
  }
  .certificate_qr{
    /* border: 1px solid orchid; */
    position: absolute;
    bottom:4.8rem;
    left:2.2rem;
    height: 9rem;
    width: 9rem;
    object-fit: contain;
  }

  .certificate_no{
    /* border: 1px solid red; */
    left:-1.5rem;
    bottom:-0.8rem;
    position: absolute;
  }

  .title_box{
    padding: 0;
    grid-area: 2/2/3/3;
  }
  .title {
    /* border: 1px solid red; */
    /* margin: 0;
    padding: 0; */
    position: relative;
    bottom: 0.5rem;
    left: 0.3rem;
    font-size:4.5rem;
    color: rgb(0, 1, 49);
    letter-spacing: 0.4rem;
    font-family:"certificateFont", sans-serif ;
    text-align: center;
  }

  .logo {
    width: 7.5rem;
    height: auto;
  }

  .subtitle {
    font-size: 1.2rem;
    color: #555;
    margin-top: -1.3rem;
    /* border: 1px solid red; */
  }
  
  .studentName {
    font-size: 1.9rem;
    font-weight: bold;
    color: #003263;
    /* margin-top: 0.1rem; */
    /* border: 1px solid red; */
  }
  
  .description {
    margin-top:0.3rem;
  }
  
  .course {
    font-size: 1.5rem !important;
    font-weight: bold;
    color: rgb(215, 154, 0);
  }
  
  .institute {
    /* margin-top: 0.1rem; */
    font-weight: 500;
    padding: 0 4rem;
  }
  .institute strong {
     /* font-family:Arial, Helvetica, sans-serif; */
    /* font-style: italic; */
     color:rgb(0, 0, 139);
   }

   .institute span{
    margin: 0 0.5rem;
    font-weight: 700;
    color: rgb(170, 130, 0);
    /* text-decoration: underline; */
   }

   .qrCode img{
    height: 6rem;
   }

   .qrCode{
    position:absolute;
    right:3.5rem;
    bottom: 18rem;
   }

   .certificationsLogos{
    /* border: 1px solid red; */
    position: relative;
    top: 3rem;
    left: 0.6rem;
   }

   .certificationsLogos img{
    height: 5rem;
   }

  
  .left {
    border: 1px solid red;
    font-size: 16px;
    color: #333;
  }

  .description, .institute, .achievement, .date{
    font-size: 1.3rem;
    color: #333;

  }
  .copyright{
    font-size: 25rem;
    color: #333;
    margin-top: 1rem;
    font-family: "instituteFont", sans-serif;
    position: absolute;
    opacity: 0.08;
    top: 7rem;
    left: 15rem;
  }

  .sign {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .downloadBtn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .downloadBtn:hover {
    background-color: #002244;
  }
  