/* Dashboard.module.css */

.dashboardContainer {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

/* Page content below navbar */
.pageContent {
  padding: 5rem 2.5rem 2.5rem; /* Extra padding to avoid navbar overlap */
}

/* Adjust for mobile screens */
@media (max-width: 768px) {
  .mainContent {
    margin: 2rem auto;
  }

  .pageContent{
    margin-top: 7rem;
    padding: 0;
  }
}
