.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .marksheet {
    width: 816px;
    height: 1056px;
    padding: 20px;
    background:url(../images/iicl_marksheet.png);
    background-size: 100% 100%;
  }
  
  .iiclLogo{
    /* border: 1px solid red; */
    height: 5.5rem;
    margin: 1.2rem 0 0 0;
  }
  .header {
    text-align: center;
    /* border: 1px solid red; */
  }

  .certifications{
    /* border: 1px solid red; */
    text-align: center;
    color: rgb(0,0,139);
    width: 86%;
    font-size: 0.9rem;
    margin: auto;
    /* margin: 1.2rem 0 0 0; */
  }
  
  .title{
    font-size:1.3rem;
    margin: 0;
    text-align: center;
    color: rgb(210, 179, 0);
    font-weight: 500;
    text-decoration: underline;
  }
  
  .details {
    margin:1rem 3rem;
    font-size: 14px;
    line-height: 1.6;
  }
  
  .details p {
    margin: 4px 0;
  }

  .detailsTable {
    /* margin: auto; */
    /* border: 1px solid red; */
    width: 100%;
    border-collapse: collapse;
    margin-top: -0.8rem;
    margin-bottom:-1rem;
    /* border: 1px solid red ; */
  }

  .detailsTable td{
    width: 50%;
    /* border: 1px solid red; */
  }

  .detailsTable td strong{
    color: rgb(0,0,139);
  }

  .courseName{
    color: rgb(210, 0, 0);
    font-weight: 500;
  }
  .tableContainer {
    margin-bottom:0.2rem;
  }
  
  .marksTable {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    font-size:0.8rem;
  }
  
  .marksTable th{
    color: rgb(0, 0, 139);
  }

  .subjects{
    font-weight:600;
    color: rgb(175, 149, 0);
  }
  .marksTable th,
  .marksTable td {
    padding: 0.1rem;
    border: 1px solid #000;
    /* padding: 8px; */
    text-align: center;
  }
  .performanceCriteria{
    position: relative;
    /* border: 1px solid red; */
  }
  .criteriaTable{
    /* width:25rem; */
    /* margin: auto; */
    border-collapse: collapse;
    /* border: 1px solid red; */
    position: absolute;
    right: 2.5rem;
    font-size: 0.8rem;
  }

  .criteriaTable th,
  .criteriaTable td{
    padding:0.2rem 0.5rem;
    text-align: center;
    border: 1px solid black ;
  }

  .criteriaTable th{
    padding: 0.2rem;
    background-color: rgb(0, 0, 139);
    color: white;
  }

  .isoLogo{
    position: absolute;
    top: 7.3rem;
    left:22rem ;
    height:4.5rem;
  }

  .iafLogo{
    height:4rem;
    position: absolute;
    top: 7.8rem;
    left:15.5rem ;
  }

  .msmeLogo{
    height:6rem;
    position: absolute;
    top: 0.8rem;
    left:20.5rem ;
  }

  .summary {
    font-size: 16px;
    margin-top: 20px;
  }
  
  .summary p {
    margin: 6px 0;
  }
  
  .downloadBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .downloadBtn:hover {
    background-color: #0056b3;
  }
  