.hero-container {
    position: relative;
    height: 100vh;
    background-image: url('/hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .hero-content {
    position: relative;
    color: white;
    max-width: 600px;
    padding: 0 1.5rem;
    text-align: center;
  }
  
  .hero-heading {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.25;
  }
  
  .hero-description {
    margin-top: 1rem;
    font-size: 1.125rem;
  }
  
  .highlight {
    color: #38a169; /* Tailwind's green-400 color */
  }
  
  .hero-buttons {
    margin-top: 1.5rem;
    display: flex;
    justify-content:left;
    gap: 1rem;
  }
  
  .explore-button, .enroll-button {
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .explore-button {
    background-color: #38a169; /* Tailwind's green-500 color */
    color: white;
    border: none;
  }
  
  .explore-button:hover {
    background-color: #2f855a; /* Tailwind's green-600 color */
  }
  
  .enroll-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
  }
  
  .enroll-button:hover {
    background-color: white;
    color: #38a169;
  }
  
  .play-button {
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    background-color: #38a169; /* Tailwind's green-500 color */
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .play-button:hover {
    background-color: #2f855a; /* Tailwind's green-600 color */
  }
  
  .play-icon {
    height: 2rem;
    width: 2rem;
    color: white;
  }
  